streamlit_folium
joblib
shapely
geopy
pandas
folium
openpyxl
networkx
pyarrow
plotly
scipy
requests
osmnx
validators
cachetools
dataclasses
six
jinja2
branca
tornado
numpy
charset_normalizer
gitdb
blinker
certifi
openpyxl
scikit-learn
psutil